.modal {
  --_modal--x-padding: 2.5rem;
  --_modal--y-padding: 2rem;
  --_modal--divider-color: var(--color--light-grey--rgba);
  --_modal--divider-size: 1px;
  --_circle--size: 2.5rem;
  position: fixed;
  overflow: visible;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color--white--rgba);
  padding: var(--_modal--y-padding) 0 3.8rem 0;
  border-radius: 1.5rem;
  border: none;
}

::backdrop {
  background-color: rgba(10, 12, 28, 0.5);
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--_modal--x-padding) var(--_modal--y-padding)
    var(--_modal--x-padding);
  border-bottom: var(--_modal--divider-size) solid var(--_modal--divider-color);
}

.form__bottom {
  padding: 0 var(--_modal--x-padding);
}

.form__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.input__flex {
  display: flex;
  gap: 1.25rem;
}

.input {
  display: flex;
  flex-direction: column;
}

/* Input reset */
.input input {
  border: none;
  border-radius: 0.625rem;
  padding: 1rem;
  font-size: var(--font--s--main);
  font-weight: var(--font--w--secondary);
  color: var(--color--base--rgba);
  background-color: var(--color--light-grey--rgba);
  width: 8.75rem;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.input input::placeholder {
  font-family: inherit;
  font-weight: 700;
}

.input label {
  display: inline-block;
  color: #a5a6b2;
  margin-bottom: 0.5rem;
}

.divider {
  border-bottom: var(--_modal--divider-size) solid var(--_modal--divider-color);
}

.flex-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-circles {
  display: flex;
  gap: 1rem;
}

.type-circle {
  width: var(--_circle--size);
  height: var(--_circle--size);
  display: grid;
  place-items: center;
  border-radius: 100vw;
  background-color: var(--color--light-grey--rgba);
}

.type-circle[data-type-circle="active"] {
  background-color: var(--color--base--rgba);
  color: var(--color--white--rgba);
}

.type-circle.is--ff1 {
  font-family: var(--font--f--1);
}

.type-circle.is--ff2 {
  font-family: var(--font--f--2);
}

.type-circle.is--ff3 {
  font-family: var(--font--f--3);
}

.color-circle {
  width: var(--_circle--size);
  height: var(--_circle--size);
  border-radius: 100vw;
  display: grid;
  place-items: center;
}

.color-circle.is--color-1 {
  background-color: var(--color--red--rgba);
}

.color-circle.is--color-2 {
  background-color: var(--color--cyan--rgba);
}

.color-circle.is--color-3 {
  background-color: var(--color--purple--rgba);
}

.color-circle .checkmark {
  opacity: 0;
}

.color-circle[data-color-circle="active"] .checkmark {
  opacity: 100;
}

.absolute-btn-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.btn,
.btn:link,
.btn:visited {
  background-color: var(--color--current);
  color: var(--color--white--rgba);
  border-radius: 100vw;
  padding: 1rem 3rem;
}
