:root {
  /*====================
   Color 
   =====================*/
  /* Values */
  --color--red: 248, 112, 112;
  --color--cyan: 112, 243, 248;
  --color--purple: 216, 129, 248;
  --color--grey: 215, 224, 255;
  --color--base: 30, 33, 63;
  --color--white: 255, 255, 255;
  --color--light-grey: 239, 241, 250;
  --color--dark-base: 22, 25, 50;
  /* RGBA */
  --color--red--rgba: rgba(var(--color--red), 1);
  --color--cyan--rgba: rgba(var(--color--cyan), 1);
  --color--purple--rgba: rgba(var(--color--purple), 1);
  --color--grey--rgba: rgba(var(--color--grey), 1);
  --color--base--rgba: rgba(var(--color--base), 1);
  --color--white--rgba: rgba(var(--color--white), 1);
  --color--light-grey--rgba: rgba(var(--color--light-grey), 1);
  --color--dark-base--rgba: rgba(var(--color--dark-base), 1);
  /* Gradients */
  /*====================
   Font
   =====================*/
  /* Font Families*/
  --font--f--1: "Kumbh Sans", sans-serif;
  --font--f--2: "Roboto Slab", serif;
  --font--f--3: "Space Mono", monospace;
  /* Sizes */
  --font--s--h1: 6.25rem;
  --font--s--h2: 1.75rem;
  --font--s--h3: 1rem;
  --font--s--h4: 0.8125rem;
  --font--s--main: 0.875rem;
  --font--s--small: 0.75rem;
  /*Line heigts */
  --font--lh--normal: normal;
  --font--lh--100: 1;
  --font--lh--120: 1.2;
  /* Letter Spacing */
  --font--ls--h1: -0.275rem;
  --font--ls--main: 0.3125rem;
  --font--ls--huge: 0.9375rem;
  /* Weight */
  --font--w--main: 700;
  --font--w--secondary: 400;
  /* Transform */
  --font--tt--secondary: uppercase;
  /*====================
   Transitions
   =====================*/
  --speed: 0.3s;
  --curve: ease;
  /*====================
   Set Current
   =====================*/
  --font--current: var(--font--f--1);
  --color--current: var(--color--red--rgba);
}

@media screen and (max-width: 23.5rem) {
  :root {
    --font--s--h1: 5rem;
    --font--s--h2: 1.25rem;
    --font--s--h3: 0.875rem;
    --font--s--h4: 0.6875rem;
    --font--s--main: 0.75rem;
    --font--s--small: 0.75rem;
    --font--ls--main: 0.27rem;
    --font--ls--huge: 0.82rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  /* font-family: var(--font--current); */
  font-size: var(--font--s--main);
  line-height: var(--font--lh--normal);
  color: var(--color--grey--rgba);
  background-color: var(--color--base--rgba);
  font-weight: var(--font--w--main);
}

h1,
.h1 {
  font-size: var(--font--s--h1);
  line-height: var(--font--lh--100);
  letter-spacing: var(--font--ls--h1);
}

h2 {
  font-size: var(--font--s--h2);
  line-height: var(--font--lh--120);
}

h3,
.h3 {
  font-size: var(--font--s--h3);
  letter-spacing: var(--font--ls--huge);
}

h4,
.h4 {
  font-size: var(--font--s--h4);
  letter-spacing: var(--font--ls--main);
}

h3,
.h3,
h4,
.h4 {
  line-height: var(--font--lh--normal);
  text-transform: var(--font--tt--secondary);
}
/* Reset all <button> default  */
button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pe-none {
  pointer-events: none;
}

.u-d-none {
  display: none;
}

.u-curosr-pointer {
  cursor: pointer;
}

.app {
  font-family: var(--font--current);

  padding: 3rem 0 3.5rem 0;
}

.app[data-curr-color="1"] {
  --color--current: var(--color--red--rgba);
}

.app[data-curr-color="2"] {
  --color--current: var(--color--cyan--rgba);
}

.app[data-curr-color="3"] {
  --color--current: var(--color--purple--rgba);
}

.app[data-curr-ff="1"] {
  --font--current: var(--font--f--1);
}

.app[data-curr-ff="2"] {
  --font--current: var(--font--f--2);
}

.app[data-curr-ff="3"] {
  --font--current: var(--font--f--3);
}
.app[data-curr-ff="3"] h1,
.app[data-curr-ff="3"] .h1 {
  font-weight: 400;
}

@media screen and (max-width: 23.5rem) {
  .app {
    padding: 5rem 0 6rem 0;
  }
}

@media screen and (max-width: 48rem) {
  .app {
    padding: 2rem 0 3rem 0;
  }
}

.app__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 9.875rem;
  height: 2.5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 23.5rem) {
  .logo {
    width: 9.75rem;
    height: 2rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .logo {
    width: 7.3125rem;
    height: 1.5rem;
    margin-bottom: 2.8rem;
  }
}

.menu {
  border-radius: 100vw;
  background-color: var(--color--dark-base--rgba);
  padding: 0.5rem;
  margin-bottom: 2.8rem;
  position: relative;
  z-index: 1;
}

.text-btn {
  opacity: 0.4;
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  transition: all var(--speed) var(--curve);
}

.text-btn[data-type="button"] {
  opacity: 1;
  background-color: var(--color--current);
  color: var(--color--base--rgba);
}

.text-btn[data-type="button"]:hover {
  transition: all var(--speed) ease;
}

.text-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 23.5rem) {
  .menu {
    margin-bottom: 6.8rem;
  }
}

@media screen and (max-width: 48rem) {
  .menu {
    margin-bottom: 3rem;
  }
}

.timer {
  border-radius: 100vw;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: 50px 50px 100px 0px #121530, -50px -50px 100px 0px #272c5a;
  padding: 1.4rem;
  margin-bottom: 4rem;
}

.timer__inner {
  background-color: var(--color--dark-base--rgba);
  height: 23rem;
  width: 23rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-radius: 100vw;
}

.timer__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  height: 21.2rem;
  width: 21.2rem;
}

.timer__inner:has([data-timer="pause"]) .circle {
  transition: stroke-dashoffset 1s linear;
}

.timer__control {
  position: absolute;
  left: 50%;
  bottom: 5.7rem;
  transform: translateX(-50%);
  transition: color 0.3s var(--curve);
}

.timer__control:hover {
  color: var(--color--current);
}

.circle {
  stroke-linecap: round;
  stroke-width: 10px;
  stroke: var(--color--current);
  fill: none;
  /* transition: stroke-dashoffset 1s linear; */
}

@media screen and (max-width: 27rem) {
  .timer,
  .menu {
    transform: scale(0.8);
  }
}

.settings__icon {
  opacity: 0.5;
  transition: opacity var(--speed) var(--curve);
}
.settings:hover .settings__icon {
  opacity: 1;
}

.modal {
  --_modal--x-padding: 2.5rem;
  --_modal--y-padding: 2rem;
  --_modal--divider-color: var(--color--light-grey--rgba);
  --_modal--divider-size: 1px;
  --_circle--size: 2.5rem;
  position: fixed;
  overflow: visible;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color--white--rgba);
  padding: var(--_modal--y-padding) 0 3.8rem 0;
  border-radius: 1.5rem;
  border: none;
}

::backdrop {
  background-color: rgba(10, 12, 28, 0.5);
}

.form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--_modal--x-padding) var(--_modal--y-padding)
    var(--_modal--x-padding);
  border-bottom: var(--_modal--divider-size) solid var(--_modal--divider-color);
}

.form__bottom {
  padding: 0 var(--_modal--x-padding);
}

.form__card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.input__flex {
  display: flex;
  gap: 1.25rem;
}

.input {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 33rem) {
  .modal {
    width: 90%;
  }

  .form__card .h4 {
    text-align: center;
  }

  .input__flex {
    flex-direction: column;
    gap: 0.5rem;
  }
  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .input label {
    flex-shrink: 0;
  }
}
/* Input reset */
.input input {
  display: inline-block;
  border: none;
  border-radius: 0.625rem;
  padding: 1rem;
  font-size: var(--font--s--main);
  font-weight: var(--font--w--main, 700);
  color: var(--color--base--rgba);
  background-color: var(--color--light-grey--rgba);
  max-width: 8.25rem;
}
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}
.input input::placeholder {
  font-family: inherit;
  font-weight: 700;
}

.input label {
  display: inline-block;
  color: #a5a6b2;
  margin-bottom: 0.5rem;
}

.divider {
  border-bottom: var(--_modal--divider-size) solid var(--_modal--divider-color);
}

.flex-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-circles {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 33rem) {
  .flex-selection {
    flex-direction: column;
    gap: 1.125rem;
  }
  .flex-circles {
    gap: 1.25rem;
  }
}
.type-circle {
  position: relative;
  z-index: 1;
  width: var(--_circle--size);
  height: var(--_circle--size);
  display: grid;
  place-items: center;
  border-radius: 100vw;
  background-color: var(--color--light-grey--rgba);
}

.type-circle[data-type-state="active"] {
  background-color: var(--color--base--rgba);
  color: var(--color--white--rgba);
}

.type-circle:hover .hover-circle,
.color-circle:hover .hover-circle {
  opacity: 1;
}

.type-circle.is--ff1 {
  font-family: var(--font--f--1);
}

.type-circle.is--ff2 {
  font-family: var(--font--f--2);
}

.type-circle.is--ff3 {
  font-family: var(--font--f--3);
}

.color-circle {
  width: var(--_circle--size);
  height: var(--_circle--size);
  border-radius: 100vw;
  display: grid;
  place-items: center;
}

.hover-circle {
  pointer-events: none;
  transition: opacity var(--speed) var(--curve);
  z-index: 0;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100vw;
  border: solid 1px #eff1fa;
  opacity: 0;
}

.color-circle.is--color-1 {
  background-color: var(--color--red--rgba);
}

.color-circle.is--color-2 {
  background-color: var(--color--cyan--rgba);
}

.color-circle.is--color-3 {
  background-color: var(--color--purple--rgba);
}

.color-circle .checkmark {
  opacity: 0;
}

.color-circle[data-color-circle="active"] .checkmark {
  opacity: 100;
}

.absolute-btn-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.btn,
.btn:link,
.btn:visited {
  background-color: var(--color--current);
  color: var(--color--white--rgba);
  border-radius: 100vw;
  padding: 1rem 3rem;
  transition: background-color var(--speed) var(--curve);
}

.btn:hover {
  background-color: #f98d8d;
}
